body{
    font-family: sans-serif;
}

.row_marcas{
    background-color: #7a7a7a;
}

.row_marcas h3{
    font-family: sans-serif;
    color: #b6b6b6;
    font-weight: 700;
    font-size: 40pt;
}


.marcas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.marcas img{
    margin: 5px;
    width: 200px;
    margin: 15px;
}

.msg-car{
    background-color: rgb(165, 165, 165);
    border-radius: 10px;
    opacity: 0.7;
    padding: 10px 1px 10px 1px;
}

.msg-car h2,h5{
    color: #000000;
} 

.contato_top{
    background-color: #dddddd;
    padding: 5px;
}
.contato_itens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo{
    background-image: linear-gradient( to right, rgb(200, 200, 255), rgb(250, 250, 250), rgb(220, 220, 255) ); 
    margin-bottom: 20px;
}


.produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.produto_item{
    overflow: hidden;
    max-width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    flex-grow: 1;
    flex-basis: 1;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 10px;
}

.produto_item:hover{
    cursor: pointer;
    border: 2px solid #000000;
}
.produto_item:hover img{
    transform: scale(1.2);
}

.produtos img{
    max-width: 70%;
    height: 70%;
    border-radius: 15px;
    transition: all 0.5s;
}

